@inject IOptions<AppSettings> AppSettings
@using Rc.Areas.Api.Dtos
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – @AppSettings.Value.SiteTitle</title>
    <link rel="stylesheet" href="~/Contents/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="~/Scripts/bootstrap-table/bootstrap-table.min.css" />
    <link rel="stylesheet" href="~/Contents//Site.css" />
    <script src="~/Scripts/jquery-2.0.3.js"></script>
</head>
<body>
    <header class="navbar navbar-default navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        @if(ViewBag.Categories != null && ViewBag.Categories is IList<CategoryDto>)
        {
            var categories = ViewBag.Categories as IList<CategoryDto>;
              
            foreach(var category in categories)
            {
              <li>
                <a href="#">@category.Name</a>
              </li>
            }
        }
      </ul>
      <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
          <ul class="dropdown-menu" style="padding:12px;">
            <form class="form-inline">
            	<div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                  </span>
            	</div>
            </form>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>@AppSettings.Value.SiteTitle
          <p class="lead">@AppSettings.Value.SubSiteTitle</p>
        </h1>
      </div>
      <div class="col-md-5" style="display:none;">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12">
              Ad Space			
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
 
</div>


<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
        
          
            @RenderBody()
        
          
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>
      
    </div>
  </div>
</div>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline" style="display:none;">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>      
      </div>
    </div>
  </div>
</footer>

    <environment names="Development,NtlmAuthentication,OpenIdConnect,SocialTesting">
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/respond.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/bootstrap.min.js"
                asp-fallback-src="~/Scripts/bootstrap.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="//ajax.aspnetcdn.com/ajax/respond/1.2.0/respond.js"
                asp-fallback-src="~/Scripts/respond.js"
                asp-fallback-test="window.respond">
        </script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>

    Status API Training Shop Blog About Pricing 

    © 2015 GitHub, Inc. Terms Privacy Security Contact Help 

